/* font-family: "Poppins", sans-serif; */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --DARK-NIGHT: hsl(227, 72%, 10%);
    --LOWER-DARK-NIGHT: hsl(227, 72%, 10%);
    --LIGHT-BLUE: hsl(227, 72%, 10%);
    --LIGHT-PURPLE: hsl(242, 30%, 66%);
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* ---- typography ---- */

.container {
    border: 2px solid black;
}


